# Backend
SECRET_KEY=dev-only-change-this-secret-key-before-deployment
ACCESS_TOKEN_EXPIRE_MINUTES=60
DATABASE_URL=mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BSERVER%3DLAPTOP-CJ0JLQGR%5CSQLEXPRESS%3BDATABASE%3Dresume_screening%3BTrusted_Connection%3Dyes%3B
# Common SQL Server Express example:
# DATABASE_URL=mssql+pyodbc:///?odbc_connect=DRIVER%3D%7BODBC+Driver+17+for+SQL+Server%7D%3BSERVER%3DLAPTOP-CJ0JLQGR%5CSQLEXPRESS%3BDATABASE%3Dresume_screening%3BTrusted_Connection%3Dyes%3B
# Confirmed SSMS server name: LAPTOP-CJ0JLQGR\SQLEXPRESS

# Frontend
VITE_API_BASE_URL=http://localhost:8001




